body {
    background-image: url('https://us.123rf.com/450wm/mtmmarek/mtmmarek1303/mtmmarek130300012/18265175-beige-background-with-floral-elements.jpg?ver=6'); /* Replace 'your-image-url.jpg' with the URL of your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: repeat; /* Do not repeat the background image */
    background-attachment: fixed;
}
